<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gazza's Blog</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel = 'stylesheet' href = "{%static 'css/blog.css'%}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- Google APIS -->
    <!--Import Google Icon Font-->


  </head>
  <body>


    <!-- NAVBAR -->
    <nav class = "navbar navbar-expand-lg navbar-light bg-light">
      <div class = "container">
        <ul class="navbar-nav">
          <li class = "nav-item active"><a class = "navbar-brand bigbrand" href = "{%url 'post_list'%}">Gazza's Blog</a></li>
          <li class = "nav-item"><a class="nav-link" href = "{%url 'about' %}">About</a></li>
          <li class = "nav-item"><a class="nav-link" href = "https://github.com/gaz22">Github</a></li>
          <li class = "nav-item"><a class="nav-link" href = "https://www.linkedin.com/in/gazza-azhari-b716995a/">LinkedIn</a></li>
        </ul>

        <ul class="navbar-nav">
          {%if user.is_authenticated%}
          <li class = "nav-item">
            <a class="nav-link" href = "{%url 'post_new'%}">New Post</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href = "{%url 'post_draft_list'%}">Drafts</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href = "{%url 'logout'%}">Log Out</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link">Welcome: {{user.username}}</a>
          </li>

          {%else%}
        <a class="nav-link" href = "{%url 'login'%}"><i class="fas fa-universal-access"></i></a>

          {%endif%}
        </ul>
      </div>
    </nav>



    <!-- CONTENT BLOCK -->
    <div class = "content container">
      <div class = "row">
        <div class = "col-md-8">
          <div class = "blog_posts">
            {%block content%}
            {%endblock%}
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
